<html>
<head>
    {{ghost_head}}
    <title>Expert Chat</title>
    <meta name="description" content="Get advice from a human expert about where to go out in Utrecht">
    <meta property="og:description" content="Get advice from a human expert about where to go out in Utrecht">
    <meta property="og:image" content="https://static.nightguide.app/og/expert-chat.png"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/legacy.css"}}">
    <style>
        .chat-input-container {
            min-height: 27vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 3em;
        }

        .chat-input-container h2 {
            font-weight: 600;
            font-size: 30px;
            letter-spacing: -0.57px;
            margin: 0;
        }

        .chat-input-container p {
            margin-bottom: 2em;
            font-size: 1.2em;
        }

        .chat-input-container .input {
            background: rgba(255, 255, 255, 0.17);
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.28);
            border-radius: 2px;
            font-size: 20px;
            letter-spacing: -0.38px;
            text-align: left;
            padding: 0.7em 1em;
            display: flex;
        }

        .chat-input-container .input:hover {
            cursor: pointer;
        }

        .chat-input-container .city {
            text-decoration: underline;
        }

        .chat-input-container .cursor {
            width: 1px;
            height: 21px;
            display: inline-block;
            -webkit-animation: 1s blink step-end infinite;
            -moz-animation: 1s blink step-end infinite;
            animation: 1s blink step-end infinite;
        }

        #zsiqbtn {
            display: none !important;
        }

        .start-chat {
            background: #fff;
            font-size: 1rem;
            display: inline;
            border-radius: 21px;
            border: none;
            padding: 0.7em 1em;
            margin-top: 1.3em;
        }

        @keyframes "blink" {
            from, to {
                background-color: transparent;
            }
            50% {
                background-color: #fff;
            }
        }

        @-moz-keyframes blink {
            from, to {
                background-color: transparent;
            }
            50% {
                background-color: #fff;
            }
        }

        @-webkit-keyframes "blink" {
            from, to {
                background-color: transparent;
            }
            50% {
                background-color: #fff;
            }
        }
    </style>
</head>
<body>
<div class="content container">
    <header class="page-header">
        <a class="logo" href="/">
            <img src="{{asset "img/legacy/logo.svg"}}" alt="NightGuide"/>
        </a>
    </header>
    <main>
        <div class="chat-input-container">
            <h2>Ask a human expert where to go out in <span class="city">Utrecht</span></h2>
            <p>We'll do our best to provide you with the best advice</p>
            <div class="input" id="chat-input"></div>
            <button class="start-chat" id="start-chat">Start chat</button>
        </div>
    </main>
</div>
<footer class="footer">
    <div class="container">
        <p class="info">
            <strong>NightGuide</strong><br/>
            Utrecht, The Netherlands<br/>
            <a href="mailto:contact@nightguide.app">contact@nightguide.app</a><br/>
            (+31) 30 799 6300
        </p>
        <p class="links">
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/expert-chat">Expert chat</a>
        </p>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-3.4.0.slim.min.js"
        integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/typewriter-effect@2.3.1/dist/core.js" type="text/javascript"></script>
<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            var typewriter = new Typewriter(document.querySelector('#chat-input'), {
                loop: true,
                delay: 10,
                autoStart: true
            });
            typewriter.typeString('Where can I drink cocktails and dance right now?')
                    .pauseFor(2500)
                    .deleteAll()
                    .typeString('What are the best bars for international students?')
                    .pauseFor(2500)
                    .deleteAll()
                    .typeString('Where is it busy right now?')
                    .pauseFor(2500)
                    .start()
        })
    })(jQuery)
</script>
<script type="text/javascript">
    var $zoho = $zoho || {};
    $zoho.salesiq = $zoho.salesiq || {
        widgetcode: "2ec8007b909bea50fdf290d463df875ae63a33a1b36c413de416285a6db6e780",
        values: {},
        ready: function () {
            jQuery('#chat-input, #start-chat').click(function () {
                jQuery('#siqbtndiv').trigger('click');
            });
        }
    };
    var d = document;
    s = d.createElement("script");
    s.type = "text/javascript";
    s.id = "zsiqscript";
    s.defer = true;
    s.src = "https://salesiq.zoho.com/widget";
    t = d.getElementsByTagName("script")[0];
    t.parentNode.insertBefore(s, t);
    d.write("<div id='zsiqwidget'></div>");
</script>
</body>
</html>
